<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Subject</title>
    <%- include partial/header %>
  </head>
  <body>
    <form action="/subject" method="post">
      <div class="form-group">
        <div class="container-fluid">
        <label><b>Subject Name</b></label>
        <input type="text" class="form-control" name="subject_name" placeholder="Input Your Name">
        <button type="submit" class="form-control" name="button">Add</button>
      </div>
      </div>
    </form>
      <a class="btn btn-default" href="/" role="button">Home</a>
  </body>
</html>
