<!DOCTYPE html>
<html>
  <head>
    <%- include partial/header %>
    <title>Index</title>
  </head>
  <body>
  <center>
    <h1>Home</h1>
    <center>
      <a class="btn btn-default" href="/student" role="button">Student</a>
      <a class="btn btn-default" href="/teacher" role="button">Teacher</a>
      <a class="btn btn-default" href="/subject" role="button">Subject</a>
    </center>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
