<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><center>Wellcome</center></h1>
    <div>
      <form name="mainForm" action="/login" method="post">
        <div class="container">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password">
          <div>
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
